body
{
 text-align: center;
 margin: 0 auto;
}

#box
{
 position: absolute;
 width: 400px;
 height: 400px;
 left: 50%;
 top: 50%;
 margin-left: -250px;
 margin-top: -250px
}

img{
    margin: 0 auto;
    left:50%;
}

#sign-in-button{
    background-color: #000;
    border-color: black;
    margin: 0 auto;
    width:90px;
    
}
#sign-up-button{
    background-color: #000;
    border-color: black;
    width:100px;
}

a{
    color : #000;
    margin-left:30px;
}
